.container {
  position: absolute;
  top: 30%;
  left: 10px;
  text-align: center;
}

.container h2 {
  font-size: 5rem;
}

.container span {
  font-size: 1.4rem;
}

.fancy {
  width: 100vw;
  height: 90vh;
  position:absolute;
  top: 10vh;
  left: 0;
  padding:-5px;
  background: linear-gradient(231deg, #095844, #44086c, #7a101d);
  background-size: 600% 600%;

  animation: vibrant 15s ease infinite;
}

@keyframes vibrant {
  0% {
    background-position: 0 10%
  }
  50% {
    background-position: 100% 91%
  }
  100% {
    background-position: 0 10%
  }
}
